@{
    ViewBag.Title = "Contact";

}
@Styles.Render("~/Content/css/contact.css")
<main role="main">
    <div class="container mt-5">
        <div class="picture_contact">

        </div>
        <div class="text-block">
            <h1 class="title_head">Liên hệ với chúng tôi</h1>
            <p>
                Kết nối với chúng tôi và trò chuyện với đội ngũ cố vấn để hiểu cách chúng tôi giúp bạn nâng
                cao tiếng Anh. Đặt lịch hẹn ngay để bắt đầu chinh phục mục tiêu của bạn.
            </p>
            <p>Địa chỉ: 383 Võ Văn Tần, Phường 5, Quận 3, Thành phố Hồ Chí Minh</p>
            <p>Hotline: 09-2345678</p>
            <p>Email: duyphongdao83@gmail.com</p>
        </div>
    </div>
    <div class="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.5307558311097!2d106.68492069999999!3d10.7706015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f225426fccd%3A0xefdda26a4d22cc09!2zMzgzIFbDtSBWxINuIFThuqduLCBQaMaw4budbmcgNSwgUXXhuq1uIDMsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaA!5e0!3m2!1svi!2s!4v1686653290745!5m2!1svi!2s" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</main>